doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Register 
        link(rel="stylesheet" href="../assets/styles/account.css")
        link(rel="stylesheet" href="../assets/styles/reset.css")
    body
        .account--bg
            .account--block
                form.account--block-form
                    img.account--logo-mobile(src="../assets/img/academy-logo-tablet.svg")
                    h1 Sign up
                    button.main.google Sign up with Google
                    h2 Or continue with
                    label(for="email") Email Address
                        input#email(type="email" placeholder="Type your email address" required)
                    label.distance(for="name") Name
                        input#name(type="name" placeholder="Type your name" required)
                    label.distance(for="password") Password 
                        input#password(type="password" placeholder="Type your password" required)
                    label.distance(for="role") User role
                        .select-container
                            .select
                                input(type="text" id="input" placeholder="Select" onfocus="this.blur();")
                                .option-container
                                    .option
                                        label Html 
                                    .option
                                        label Htmll
                    button.main.log-in Sign up
                    p Already have an account? 
                        button.sign-up Log in
            img.account--logo(src="../assets/img/academy-logo.svg")
    script(src="../assets/js/main.js")
